/* CSS Document */
#leaky_paywall_message {
	background-color: #111111;
    border: 2px solid #FFFFFF;
    -webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
    box-shadow: 0 0 20px #888888;
    color: #D6D6D6;
    font-weight: 500;
    margin: 2em auto;
    padding: 22px;
    width: 90%;
	font-size: 16px;
    line-height: 26px;
}

#leaky_paywall_message a {
    border-color: rgba(255, 255, 255, 0.5);
    color: #FBFBFB;
}

.leaky_paywall_subscription_options {
	display: inline-table;
	border-spacing: 15px;
}

.leaky_paywall_subscription_option {
	display: table-cell;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 15px;
	margin-left: 5px;
	margin-right: 5px;
    border: 2px solid #000000;
    -webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
    box-shadow: 0 0 20px #888888;
    width: 160px;
	font-size: 16px;
    line-height: 26px;
    text-align: center;
}

.leaky-paywall-payment-form { display: none; }

.leaky_paywall_subscription_option.current-level {
    border: 2px solid #007711;
    box-shadow: 0 0 20px #3e8e51;
}

.leaky_paywall_subscription_current_level {
    border: 2px solid #007711;
	background: #3e8e51;
    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.leaky_paywall_subscription_option h3, .leaky_paywall_subscription_allowed_content {
	border-bottom: 1px solid #aaaaaa;
	padding-bottom: 5px;
	margin-bottom: 5px;
}

.leaky_paywall_subscription_limit_details {
	display: block;
	width: 100%;
	margin-top	30px;
	color: #666;
}

.leaky-paywall-payment-button {
	display: inline-block;
	margin: 5px;
}

.leaky-paywall-free-button {
	background: #4fd934;
	background-image: -webkit-linear-gradient(top, #4fd934, #2bb857);
	background-image: -moz-linear-gradient(top, #4fd934, #2bb857);
	background-image: -ms-linear-gradient(top, #4fd934, #2bb857);
	background-image: -o-linear-gradient(top, #4fd934, #2bb857);
	background-image: linear-gradient(to bottom, #4fd934, #2bb857);
	-webkit-border-radius: 5;
	-moz-border-radius: 5;
	border-radius: 5px;
	color: #ffffff !important;
	padding: 5px 20px 5px 20px;
	border: solid #2bb857 1px;
	text-decoration: none !important;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
}

.paypal-description {
	font-size: .8em;
}

.leaky-paywall-field-label {
	display: block;
}

.leaky-paywall-payment-button a {
	display: block;
	min-height: 20px;
	background: #32A3E4;
	color: #fff;
	padding: 7px 15px;
	border-radius: 4px;
	text-decoration: none;
}
.leaky-paywall-payment-button a:hover {
	color: #fff;
	background: #52B2E9;
}

.leaky_paywall_message {
	border-radius: 4px;
}

.leaky_paywall_message.error {
	background: #FFAAAA;
	border: 1px solid #FF5555;
	padding: 10px;
}

.leaky_paywall_message.error p {
	margin-bottom: 5px;
	font-size: .875em;
	color: #333;
}