/* CSS Document */

table.leaky-paywall-table,
body.leaky-paywall_page_leaky-paywall-subscribers table {
  width: 100%;
}

table.leaky-paywall-table input.small-text,
body.leaky-paywall_page_leaky-paywall-subscribers table input.small-text {
  height: 28px;
}

table.issuem-leaky-paywall-subscription-level-row-table {
 
}

table.issuem-leaky-paywall-subscription-level-row-table.toggled {
  display: none;
}

.leaky-paywall-subscription-level-row-header.hidden {
  display: none;
}

.leaky-paywall-subscription-level-row-header.toggled {
  margin-bottom: 10px;
}

.leaky-paywall-subscription-level-row-header .dashicons-arrow-down {
  display: none;
}

.leaky-paywall-subscription-level-row-header.toggled .dashicons-arrow-up {
  display: none;
}

.leaky-paywall-subscription-level-row-header.toggled .dashicons-arrow-down {
  display: block;
}

.leaky-paywall-subscription-level-row-header {
  background: #fff;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.leaky-paywall-subscription-level-row-header p {
  font-weight: bold;
  font-size: 18px;
}

.leaky-paywall-subscription-level-row-header
  .leaky-paywall-subscription-level-row-header-title-id {
  font-weight: normal;
  color: #999;
  margin-left: 10px;
}

table.leaky-paywall-table tr th,
table.leaky-paywall-table tr td,
body.leaky-paywall_page_leaky-paywall-subscribers table tr th,
body.leaky-paywall_page_leaky-paywall-subscribers table tr td {
  vertical-align: top;
  padding-bottom: 10px;
}

table.leaky-paywall-table tr th,
body.leaky-paywall_page_leaky-paywall-subscribers table tr th {
  padding-top: 5px;
  width: 200px;
}

table.leaky-paywall-table .leaky_paywall_subscription_level_row_table {
  border: 1px solid #eee;
  padding-top: 20px;
  margin-bottom: 20px;
}

body.leaky-paywall_page_leaky-paywall-subscribers div.tablenav {
  margin-top: 25px;
}

body.leaky-paywall_page_leaky-paywall-subscribers
  div#leaky-paywall-subscriber-add-edit {
  background: #ececec;
  border: 1px solid #ccc;
  padding: 0 10px;
  margin-top: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  width: 100%;
}

div#leaky-paywall-subscriber-add-edit form#leaky-paywall-susbcriber-add {
  display: block;
  float: left;
  max-width: 500px;
  position: relative;
}

div#leaky-paywall-subscriber-add-edit form#leaky-paywall-subscriber-bulk-add {
  display: block;
  float: left;
  margin-left: 150px;
  max-width: 500px;
  position: relative;
}

div.interval_div,
div.allowed_value_div {
  display: inline-block;
}

form#leaky-paywall-subscriber-bulk-add textarea {
  width: 400px;
  height: 200px;
}

span.delete-x {
  display: inline-block;
  color: red;
  font-size: 14px;
  line-height: 1.3em;
  margin-right: 12px;
  margin-top: 18px;
  text-align: center;
  text-decoration: none;
  width: 20px;
  height: 20px;
}

span.delete-x:hover {
  cursor: pointer;
}

select.select_level_post_type,
select.select_level_site {
  width: 100px;
}

.leaky_paywall_hidden {
  display: none;
}

td.available-addon {
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  max-width: 340px;
  min-width: 250px;
  vertical-align: top;
  width: 33%;
  background: #fff;
}

div.available-addon-inner {
  margin: 20px;
}

div.available-addon-inner img {
  max-width: 100%;
}

.leaky-paywall-dashboard-table {
  width: 100%;
}

.leaky-paywall-dashboard-table th {
  text-align: left;
  font-weight: bold;
}
.leaky-paywall-dashboard-table td {
  padding-bottom: 5px;
}

span.delete-restriction-row {
  color: red;
  margin-top: -10px;
}

#issuem-leaky-paywall-restriction-rows table {
  border: 1px solid #ddd;
  background: #fff;
}

#issuem-leaky-paywall-restriction-rows table th {
  /*border-bottom: 1px solid #ddd;*/
  padding: 10px;
}

#issuem-leaky-paywall-restriction-rows table td {
  border-top: 1px solid #f0f0f0;
  padding: 10px;
}

#add-restriction-row {
  margin-bottom: 10px;
}

/* access options */

.leaky-paywall-interal-setting-table {
  border: 1px solid #ddd;
  background: #fff;
}

.leaky-paywall-interal-setting-table th {
  padding: 10px;
}

.leaky-paywall-interal-setting-table td {
  border-top: 1px solid #f0f0f0;
  padding: 10px;
}

span.delete-post-type-row {
  color: red;
  margin-top: -10px;
}

.allowed_value_div .allowed_value {
  margin-left: 5px;
}

.leaky-paywall-sidebar-widget {
  background: #fff;
  padding: 10px 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.leaky-paywall-sidebar-widget .description {
  font-size: 16px;
  color: #c35232;
}

.leaky-paywall-sidebar-widget ul {
  list-style-type: disc;
  margin-left: 20px;
}

.leaky-paywall-sidebar-widget .button {
  background: #dd6035;
  color: #fff;
  border: 1px solid #ea9c47;
  text-transform: uppercase;
  font-weight: bold;
  width: 100%;
  text-align: center;
  padding: 10px;
}

#leaky-paywall-upgrade-page-wrapper {
  background: #fff;
  /* display: flex;
  flex-direction: row; */

  margin-left: -20px;
}

#leaky-paywall-upgrade-page-wrapper .content {
  width: 50%;
  padding: 50px;
}

#leaky-paywall-upgrade-page-wrapper .description {
  font-size: 16px;
  color: #c35232;
}

#leaky-paywall-upgrade-page-wrapper h2 {
  font-size: 36px;
  line-height: 1.5;
  margin-top: 0;
}

#leaky-paywall-upgrade-page-wrapper .header {
  background: #000;
  padding: 20px 50px;
}

#leaky-paywall-upgrade-page-wrapper .header img {
  max-width: 400px;
  width: 100%;
}

#leaky-paywall-upgrade-page-wrapper .logo {
  background: #000;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  display: none;
}

#leaky-paywall-upgrade-page-wrapper .logo img {
  max-width: 600px;
  width: 100%;
}

#leaky-paywall-upgrade-page-wrapper ul {
  list-style-type: disc;
  margin-left: 20px;
  margin-bottom: 40px;
}

#leaky-paywall-upgrade-page-wrapper .button {
  background: #dd6035;
  color: #fff;
  border: 1px solid #ea9c47;
  text-transform: uppercase;
  font-weight: bold;

  text-align: center;
  padding: 10px 20px;
}

.leaky-paywall-restriction-settings .hide-setting {
  display: none;
}

#leaky_paywall_default_restriction_options .hide-setting {
  display: none;
}

#leaky_paywall_subscription_level_options #add-subscription-row {
  margin-bottom: 20px;
}

button.lp-inline-button {
  margin: 0 5px;
}

input[type="submit"].lp-inline-button {
  margin: 0 5px;
}

/* Hide the WP bars */
.admin_page_lp-onboarding-1 #adminmenumain,
.admin_page_lp-onboarding-1 #wpadminbar,
.admin_page_lp-onboarding-1 #wpfooter,
.admin_page_lp-onboarding-2 #adminmenumain,
.admin_page_lp-onboarding-2 #wpadminbar,
.admin_page_lp-onboarding-2 #wpfooter,
.admin_page_lp-onboarding-3 #adminmenumain,
.admin_page_lp-onboarding-3 #wpadminbar,
.admin_page_lp-onboarding-3 #wpfooter,
.admin_page_lp-onboarding-4 #adminmenumain,
.admin_page_lp-onboarding-4 #wpadminbar,
.admin_page_lp-onboarding-4 #wpfooter,
.admin_page_lp-onboarding-5 #adminmenumain,
.admin_page_lp-onboarding-5 #wpadminbar,
.admin_page_lp-onboarding-5 #wpfooter {
  display: none;
}
.admin_page_lp-onboarding-1 #wpcontent,
.admin_page_lp-onboarding-2 #wpcontent,
.admin_page_lp-onboarding-3 #wpcontent,
.admin_page_lp-onboarding-4 #wpcontent,
.admin_page_lp-onboarding-5 #wpcontent {
  margin-left: 0;
  padding-left: 0;
}
.admin_page_lp-onboarding-1 #wpbody-content,
.admin_page_lp-onboarding-2 #wpbody-content,
.admin_page_lp-onboarding-3 #wpbody-content,
.admin_page_lp-onboarding-4 #wpbody-content,
.admin_page_lp-onboarding-5 #wpbody-content {
  padding-bottom: 30px;
}
.admin_page_lp-onboarding-1 .notice,
.admin_page_lp-onboarding-2 .notice,
.admin_page_lp-onboarding-3 .notice,
.admin_page_lp-onboarding-4 .notice,
.admin_page_lp-onboarding-5 .notice {
  display: none;
}
