/* CSS Document */

table.leaky-paywall-table,
body.leaky-paywall_page_leaky-paywall-subscribers table {
	width: 100%;
}

table.leaky-paywall-table input.small-text,
body.leaky-paywall_page_leaky-paywall-subscribers table input.small-text {
	height: 28px;
}

table.issuem-leaky-paywall-subscription-level-row-table {
	border: 1px solid #eee;
	margin-bottom: 20px;
}

table.leaky-paywall-table tr th, table.leaky-paywall-table tr td,
body.leaky-paywall_page_leaky-paywall-subscribers table tr th,body.leaky-paywall_page_leaky-paywall-subscribers table tr td {
	vertical-align:top;
	padding-bottom:10px;
}

table.leaky-paywall-table tr th,
body.leaky-paywall_page_leaky-paywall-subscribers table tr th {
	padding-top:5px;
	width:200px;
}

table.leaky-paywall-table .leaky_paywall_subscription_level_row_table {
	border: 1px solid #eee;
	padding-top: 20px;
	margin-bottom: 20px;
}

body.leaky-paywall_page_leaky-paywall-subscribers div.tablenav {
	margin-top:25px;
}

body.leaky-paywall_page_leaky-paywall-subscribers div#leaky-paywall-subscriber-add-edit {
	background:#ECECEC;
	border:1px solid #CCC;
	padding:0 10px;
	margin-top:5px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
    width: 100%;
}

div#leaky-paywall-subscriber-add-edit form#leaky-paywall-susbcriber-add {
	display: block;
    float: left;
    max-width: 500px;
    position: relative;
}

div#leaky-paywall-subscriber-add-edit form#leaky-paywall-subscriber-bulk-add {
	display: block;
    float: left;
    margin-left: 150px;
    max-width: 500px;
    position: relative;
}

div.interval_div,
div.allowed_value_div {
	display: inline-block;
}

form#leaky-paywall-subscriber-bulk-add textarea {
	width:400px;
	height:200px;
}

span.delete-x {
	display: inline-block;
    color: #bbb;
    font-size: 14px;
    line-height: 1.3em;
    margin-right: 12px;
    margin-top: 18px;
    text-align: center;
    text-decoration: none;
    width: 20px;
    height: 20px;
}

span.delete-x:hover {
    cursor: pointer;
}