/* CSS Document */
.leaky_paywall_message_wrap {
	position: relative;
	width: 100%;
	margin: -5em auto 2em;
	padding: 6em 0 0;
	background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,0.5) 0.5em, #fff 5.5em, #fff 100%);
}

#leaky_paywall_message {
	box-shadow: 0 0 0.5em 0.25em rgba(0,0,0,0.125);
    padding: 1.375em;
    border: .5em solid #FFFFFF;
    -webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	background-color: #e3e3e3;
	color: #333333;
	font-size: 1em;
    line-height: 1.625;
}

#leaky_paywall_message a {
	color: inherit;
	font-weight: 600;
}

#leaky_paywall_message a:visited,
#leaky_paywall_message a:hover,
#leaky_paywall_message a:active,
#leaky_paywall_message a:focus {
	color: inherit;
}

.leaky_paywall_subscription_options {
	display: inline-table;
	border-spacing: .75em;
}

.leaky_paywall_subscription_option {
	display: table-cell;
	width: 10em;
	padding: 1em;
    border: .25em solid #e3e3e3;
    -webkit-border-radius: .25em;
	-moz-border-radius: .25em;
	border-radius: .25em;
	background: #ffffff;
	color: #333;
	font-size: 1em;
    line-height: 1.625;
    text-align: center;
}

.leaky_paywall_subscription_option.current-level {
    border: 2px solid #007711;
    box-shadow: 0 0 20px #3e8e51;
}

.leaky_paywall_subscription_current_level {
	color: #3e8e51;
	padding: 5px;
}

.leaky_paywall_subscription_option h3 {
	margin-bottom: 5px;
}

.leaky_paywall_subscription_allowed_content {
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	margin: 1em 0;
	padding: 1em 0;
}

.leaky_paywall_subscription_allowed_content p {
	margin: 0 0 .75em;
	line-height: 1.2;
}

.leaky_paywall_subscription_allowed_content p:last-child {
	margin-bottom: 0;
}

.leaky_paywall_subscription_price p {
	margin-bottom: 1em;
	line-height: 1.2;
}

.leaky_paywall_subscription_limit_details {
	display: block;
	width: 100%;
	margin-top	30px;
	color: #666;
}

.leaky-paywall-payment-button {
	display: inline-block;
	margin: 5px;
}

.leaky-paywall-free-button {
	background: #4fd934;
	background-image: -webkit-linear-gradient(top, #4fd934, #2bb857);
	background-image: -moz-linear-gradient(top, #4fd934, #2bb857);
	background-image: -ms-linear-gradient(top, #4fd934, #2bb857);
	background-image: -o-linear-gradient(top, #4fd934, #2bb857);
	background-image: linear-gradient(to bottom, #4fd934, #2bb857);
	-webkit-border-radius: 5;
	-moz-border-radius: 5;
	border-radius: 5px;
	color: #ffffff !important;
	padding: 5px 20px 5px 20px;
	border: solid #2bb857 1px;
	text-decoration: none !important;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
}

.paypal-description {
	font-size: .8em;
}

.leaky-paywall-field-label {
	display: block;
}

.leaky-paywall-payment-button a {
	display: block;
	min-height: 20px;
	background: #32A3E4;
	color: #fff;
	padding: 7px 15px;
	border-radius: 4px;
	text-decoration: none;
}

.leaky-paywall-payment-button a:hover {
	color: #fff;
	background: #52B2E9;
}

.leaky_paywall_message {
	border-radius: 4px;
	margin-bottom: 1em;
}

.leaky_paywall_message.error {
	background: #F8D7DA;
	border: 1px solid #f5c6cb;
	padding: 10px;
}

.leaky_paywall_message.error p {
	margin-bottom: 5px;
	font-size: .875em;
	color: #721c24;
}

.leaky_paywall_message.success {
	background: #D4EDDA;
	border: 1px solid #c3e6cb;;
	padding: 10px;
}

.leaky_paywall_message.success p {
	margin-bottom: 5px;
	font-size: .875em;
	color: #155724;
}

.leaky-paywall-payment-form .form-row label {
	display: block;
}

.leaky-paywall-payment-method-container {
	margin-bottom: 20px;
}

.leaky-paywall-payment-method-container img {
	margin-left: 20px;
}

.leaky-paywall-test-mode-wrapper {
	border: 1px solid red;
	padding: 10px;
	margin-bottom: 10px;
}

.leaky-paywall-test-mode-text {
	color: red;
}

#leaky-paywall-update-credit-card label {
	display: block;
}

#leaky-paywall-credit-card-form .exp-month, #leaky-paywall-update-credit-card .exp-month {
	width: 75px;
}

#leaky-paywall-credit-card-form .exp-year, #leaky-paywall-update-credit-card .exp-year {
	width: 125px;
}
